@charset "UTF-8";

/*
id = #
class = . 
 */

body {
    background-color: grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#principal {
    text-align: center;
    background-color: rgb(255, 0, 0);
    color: white;
}
.basico{
    color: aquamarine;
}
.intermediario {
    color: blue;
}
.avancado{
    color: black;
}
h1 {
    color: rgb(221, 162, 1);
}
h2 {
    color: rgb(231, 208, 0); 
}
.destaque {
    background-color: rgba(3, 99, 102, 0.527);
}